<!DOCTYPE html>

<html>
<head>
	<title>Search by age</title>
</head>
<body>
	<form action="/students/age" method="POST">
		<input type="text" name="age" placeholder="Age">
		<button type="submit">Save</button>
	</form>
</body>
</html>