
.relative{
	position: relative;
	top: 0;
	left: 0;
}

.octopus{
	position: absolute;
	z-index: 0;
	top: 80px;
	margin-left: 50%;
}

.glasses{
	position: relative;
	z-index: 1;
	top: 10px;
	left: 52.5%;  
}

.hat{
	position: relative;
	z-index: 2;
	top: 5px;
	left: 49%;
}